@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Admin Working Area </h1>

<h1> <a href="@Url.Action("ViewDetails","Customer")">Customer Pannel to the Site </a></h1>
<h1> <a href="@Url.Action("ViewDetails","Staff")">Employee Pannel to the Site </a></h1>
<h1> <a href="@Url.Action("ViewDetails","Recuritment")">Jobs Pannel to the Site </a></h1>

<br/><br /><br />
<a href="@Url.Action("Index","Home")">Back to Index  </a>