@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gurpreet Web & Software</h1>
    <p class="lead"> Gurpreet web and soft development is a company that develops website and softwares from last 5 years in Auckland,New Zealand but this is simple portal show casing the current job opening of the company so that people can and apply for them by coming to the people on the company address. Company address is given on the contact of this portal.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>On a Note</h2>
        <p>
            All Job postings are on Interview based and Interviews are conducted by HR department on every Friday after 12 PM
        </p>
       
    </div>
   
</div>